<%- include('../partials/head') %>
    <div class="wrapper">
        <%- include('../partials/sidebar') %>

            <%- include('../partials/navbar') %>




    </div>
    <%- include('../partials/footer') %>