<%- include('../partials/head') %>
    <div class="wrapper">
        <%- include('../partials/sidebar') %>

            <%- include('../partials/navbar') %>
                <div class="content-page">
                    <div class="container-fluid add-form-list">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header d-flex justify-content-between">
                                        <div class="header-title">
                                            <h4 class="card-title">SMS</h4>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <form method="post" >
                                            <div class="row">
                                                <!-- The receipient emails number  -->
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Receipient:</label>
                                                        <input type="number" name="to" class="form-control"
                                                            placeholder="Enter Phone number" >
                                                    </div>
                                                </div>
                                               
                                              
                                                <!-- The message to the receipient -->
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Message Content</label>
                                                        <div>
                                                            <input name="sms" id="" cols="30" rows="4"
                                                                class="form-control" ></input>
                                                        </div>
                                                    </div>
                                                </div>



                                            </div>
                                            <button type="submit" class="btn btn-primary mr-2 px-5">Send</button>
                                            <!-- <button type="button" class="btn btn-danger">Reset</button> -->
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Page end  -->
                    </div>
                </div>
    </div>
    <%- include('../partials/footer') %>